/*flex 설정*/
.flex-container {
    /*부모요소*/
    display: flex;
    justify-content: space-around; /*수평간격 조절*/
    align-items: center; /*수직방향 정렬*/
    flex-wrap: wrap; 
    /*자식 요소가 부모 요소의 길이보다 클때 밑으로 내려감*/
    background-color: aliceblue;
    padding: 20px;
}

.flex-item {
    /*자식요소*/
    flex: 1 1 calc(33.33% - 60px);
    /*flex-glow flex-shrink flex-basis*/
    background-color: rgb(175, 103, 243);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px;
}
/*flex 설정*/

@media (max-width: 768px) {
    /*태블릿 기준*/
    .flex-item {
        flex: 1 1 calc(50% - 60px); /*영역의 절반만 사용하도록!*/
    }
}

@media (max-width: 480px) {
    /*모바일 기준*/
    .flex-item {
        flex: 1 1 calc(100%);
    }
}