.responsive-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: aliceblue;
    padding: 20px;
}
.responsive-item {
    background-color: aquamarine;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    /*태블릿 기준*/
    .responsive-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    /*모바일 기준*/
    .responsive-container {
        grid-template-columns: 1fr;
    }
}